<div class="top-header-logo">
    <a class="header-logo-link" href="https://schoolofcities.utoronto.ca/">
        <img 
          class="header-logo-image"
          src="https://raw.githubusercontent.com/schoolofcities/design-components/refs/heads/main/src/assets/sofc-uoft-logo-blue-colour.svg" 
          alt="Urban Data Logo"
        />
    </a>
    <a class="header-title-link" href="index.html">
        <span class="header-title">
          Urban Data Analytics, Visualization, & Storytelling 📊📈🏙️
        </span>
    </a>
</div>
