<script async src="https://www.googletagmanager.com/gtag/js?id=G-XB09CWTEWB"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-XB09CWTEWB');
</script>

<meta name="description" content="Notebooks on urban data analysis and visualization">
<meta name="author" content="School of Cities">

<meta property="og:title" content="" />
<meta name="og:description" content="Notebooks on urban data analysis and visualization" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://schoolofcities.github.io/urban-data-storytelling" />
<meta property="og:image" content="https://raw.githubusercontent.com/schoolofcities/urban-data-storytelling/refs/heads/main/assets/web-card.png" />
<meta property="og:locale" content="en_CA">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="https://schoolofcities.github.io/urban-data-storytelling" />
<meta name="twitter:creator" content="@UofTCities" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="Notebooks on urban data analysis and visualization." />
<meta name="twitter:image" content="https://raw.githubusercontent.com/schoolofcities/urban-data-storytelling/refs/heads/main/assets/web-card.png" />