<div class="top-header-logo">
    <a class="header-logo-link" href="https://schoolofcities.utoronto.ca/">
        <img 
          class="header-logo-image"
          src="https://raw.githubusercontent.com/schoolofcities/urban-data-storytelling/refs/heads/main/assets/sofc-uoft-logo-blue-colour.svg" 
          alt="School of Cities logo"
        />
    </a>
    <!-- <a class="header-title-link" href="index.html">
        <span class="header-title" style="color: #1E3765; font-size: 17px; font-weight: normal; padding-left: 5px; padding-top: 0px; padding-bottom: 0px;">
          Urban Data Analytics, Visualization, & Storytelling 
        </span>
    </a> -->
</div>
