@font-face {
	font-family: 'TradeGothicBold';
	src: url('Trade Gothic LT Bold.ttf') format('truetype');
  }

h1, h2, h3, h4, h5 {
	font-family: TradeGothicBold, sans-serif;
	color: #1E3765;
}

h1 {
	padding-top: 46px;
	color: #1E3765;
	font-size: 38px;
	text-decoration: underline;
}

h2 {
	padding-top: 30px;
}

h3, h4, h5 {
	color: #0D534D
}

figcaption {
	opacity: 1;
	font-size: 15px;
	font-style: italic;
	text-align: center;
}

em {
	background-color: #f1c50080;
}

strong {
	background-color: #8DBF2E50;
	opacity: 0.9;
}


.sidebar-navigation .sidebar-item a {
	color: black;
}

.sidebar-navigation .sidebar-item a:hover {
	color: #007FA3 !important;
  }

  .sidebar-navigation .sidebar-item a.active {
	color: black !important; /* Bootstrap's default blue */
	font-weight: bold;
  }
  